* {
    box-sizing: border-box;
    list-style-type: none;
}

body {
    margin: 0;
}

.container {
    
    text-align: center;
}

.div {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.horizontalBlocks {
    display: inline-block;
  }

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}



